<div class="col-md-10 col-md-offset-1 dashboard-main-content">

  <div data-animation="fadeInUp-fadeOutDown">
    <div class="heading-container">
      <h3 class="heading-title"><%= @dashboard.tag.name %></h3>
    </div>
  </div>
  <div class="row">
    <% @dashboard.posts.each do |post| %>
      <div class="posts-wrapper col-sm-6 col-md-6 col-lg-4" data-animation="fadeInUp-fadeOutDown">
        <%= render post %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="center pagin">
    <%= will_paginate @dashboard.posts, renderer: BootstrapPagination::Rails, :previous_label => '◀ 上一頁', :next_label => '下一頁 ▶'%>
  </div>
</div>