.tags-wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

a.tag {
  color: #F4AD7D;
  background-color: #fff;
  padding: 0.5em 0.7em;
  border: 1px solid #F4AD7D;
  @include border-radius($radius);
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 12px;
  font-size: 14px;
  &:hover {
    background-color: #FCE9DD;
    border-color: #F48D00;
    color: #F48D00;
  }
}
