<div class="fb-share-button" data-href="https://ditblog.herokuapp.com" data-layout="button" data-size="large" data-mobile-iframe="true">
  <a class="fb-xfbml-parse-ignore" target="_blank" href="http://www.facebook.com/sharer.php?u=<%= post_url(post) %>">分享</a>
</div>