<footer class="footer-basic-centered">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-xs-12 col-lg-6" style="padding-top: 80px;">
          <div class="col-xs-4 col-lg-5" style="float: left;">
            <%= image_tag("DIT_LOGO.png", style: "width:120px") %>
          </div>
          <div class="col-xs-8 col-lg-7" style="padding-top: 5px;">
            <div class="row">
              <div class="icon col-xs-4 col-lg-6">
                <a target="_blank" href="https://www.facebook.com/ditstartup/">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-square fa-inverse fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-2x" style="color: black"></i>
                  </a>
                </span>
              </div>
              <div class="icon col-xs-4 col-lg-6">
                <a href="#">
                  <i class="glyphicon glyphicon-envelope fa-inverse fa-4x"></i>
                </a>
              </div>
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-lg-6" style="float: right;">
          <section class="home-newsletter">
            <div class="single">
              <div class="input-group">
                  <div class="input-group-addon">追蹤我們</div>
                <input type="text" class="form-control" placeholder="請輸入 email">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">送出</button>
                </span>
              </div>
            </div>
          </section>
        </div>
      </div>
      
                  
    </div>
  <br>
    

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: left;">地址：新北市新店區北宜路一段16號</h4>
      </div>
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: center;">聯絡電話：+886 2 2912-5798</h4>
      </div>
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: right;">服務信箱：service@ditstartup.com</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h4 style="color:grey; text-align: center; font-weight: lighter;">Copyright &copy; 2014-2017 DIT Startup All rights reserved.</h4>
  </div>
  

</footer>