<footer class="footer-basic-centered">
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <div class="col-xs-12 col-sm-5">
          <div class="col-xs-8">
            <%= image_tag("DIT_LOGO.png", style: "width:120px") %>
          </div>
          <div class="col-xs-4">
            <a href="#">
              <i class="fa fa-facebook fa-2x" style="color:white;"></i>
            </a>
            <a href="#">
              <i class="glyphicon glyphicon-envelope fa-2x" style="color:white;float: right;"></i>
            </a>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit" style="font-size: 24px; border-radius: 15px 0 0 15px;">追蹤我們</button>
            </span>
            <input type="email" class="form-control" placeholder="輸入 Email" style="font-size: 24px;">
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit" style="font-size: 24px">送出</button>
            </span>
          </div>
        </div>
    </div>
  </div>
  <br>
    

  <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: left; font-weight: lighter;">地址：新北市新店區北宜路一段16號</h4>
      </div>
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: center; font-weight: lighter;">聯絡電話：+886 2 2912-5798</h4>
      </div>
      <div class="col-xs-12 col-lg-4">
       <h4 style="color:white; text-align: right; font-weight: lighter;">服務信箱：service@ditatartup.com</h4>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h4 style="color:grey; text-align: center; font-weight: lighter;">DIT Startup &copy; 2015-2017 DIT Startup All rights reserved.</h4>
  </div>
  

</footer>